body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #A3E4D7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align:center;
  font-size: 24px;
}
.container {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 350px;
  height: 700px;
  border-radius: 5%;
  margin: auto;
}

button {
  display: inline;
  align-items: center;
  justify-content: center;
  border: solid #A3E4D7 1px;
  border-radius: 50%;
  background-color: #fff;
  color: #A3E4D7;
  height: 50px;
  width: 50px;
  font-size: 45px;
  text-align: center;
  line-height: 50px;
}

.title {
  padding-top: 20px;
}

.value {
  font-size: 5rem;
  font: bold;
  color: #A3E4D7;
  padding: 0;
  margin: 0;
}

.btn-area {
  width: 108px;
  padding: 0 121px;
  margin-top: 10px;
}
