body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #e6e6fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p.title {
  margin: 0;
  padding: 0;
  text-align:center;
  font-size: 30px;
  font: bold;
  width: 350px;
  position: absolute;
  top: 15px;
}

.title-area {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #202f55;
  color: #fff;
  font: bold;
  height: 60px;
  width: 350px;
}

.container {
  position: relative;
  top: 20px;
  margin: auto;
  border: solid 1px;
  display: flex;
  justify-content: center;
  background-color: #e6e6fa;
  width: 350px;
  height: 700px;
}

.add {
 position: absolute;
 top: 600px;
 left: 265px;
 width: 60px;
 height: 60px;
 font-size: 40px;
 font: bold;
 color: #e6e6fa;
 border: solid #202f55 1px;
 background-color: #202f55;
 border-radius: 50%;
}

.delete {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
}

.checkbox {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.list-area {
  position: absolute;
  top: 60px;
  left: 0px;
  margin: 0;
} 

.list-item {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 36px;
  width: 350px;
  height: 40px;
  padding-top: 2px;
  margin: 0;
  display: inline;
  line-height: 50px;
}

.modal {
  display: block;
  position: absolute;
  top: 460px;
  left: 25px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: #e6e6fa;
  border: #202f55 solid 1px;
  z-index: 1001;
}

.mtitle-area {
  position: absolute;
  top: 0px;
  left: 0px;
  font: bold;
  width: 300px;
  height: 50px;
  font-size: 30px;
  color: #202f55;
}

p.mtitle {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font: bold;
  width: 285px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 15px;
}

.mbtn-area {
  position: absolute;
  top: 120px;
  right: 18px;
  display: inline;
}

.form-area {
  position: absolute;
  top: 50px;
  left: 15px;
  height: 45px;
  width: 285px;
}

.inputtext {
  position: absolute;
  top: 20px;
  height: 30px;
  width: 250px;
  border: #202f55 solid 3px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 24px;
}

.error {
  width: 285px;
  margin: 0;
  padding: 0;
  color: #ff0000;
}

.addlist {
  background-color: #202f55;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 35px;
  width: 80px;
}

.cancel {
  background-color: #797979;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 35px;
  width: 80px;
}

.overlay {
  position: relative;
  top: 0px;
  left: 0px;
  margin: auto;
  width: 350px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 1000;
}
